<div class="login">
  <div class="logintit">
    <p>MEMBER LOG IN</p>
  </div>
  <div class="loginper">
    <input type="text" placeholder="username" class="logintext">
  </div>
  <div class="loginper">
    <input type="password" placeholder="password" class="logintext">
  </div>
  <div class="loginper">
    <input type="submit" value="LOGIN" class="loginsub">
  </div>
</div>
<div class="navbom">
  <div class="nav-consider">
    <div class="nav-per">
      <div class="nav-title">
        <p>CONTENT</p>
      </div>
      <div class="nav-con">
        <p><a href="">Lorem ipsum</a></p>
        <p><a href="">Dolor sit</a></p>
      </div>
    </div>
    <div class="nav-per">
      <div class="nav-title">
        <p>INFORMATION</p>
      </div>
      <div class="nav-con">
        <p><a href="">Lorem ipsum</a></p>
        <p><a href="">Onsectetur adipisicing</a></p>
      </div>
    </div>
    <div class="nav-per">
      <div class="nav-title">
        <p>LEGAL</p>
      </div>
      <div class="nav-con">
        <p><a href="">Adipisicing elit</a></p>
        <p><a href="">Sed do eiusmod</a></p>
        <p><a href="">Tempor incidi</a></p>
      </div>
    </div>
    <div class="nav-per">
      <div class="nav-title">
        <p>HELP</p>
      </div>
      <div class="nav-con">
        <p><a href="">Lorem ipsum</a></p>
        <p><a href="">Onsectetur adipisicing</a></p>
      </div>
    </div>
    <div class="nav-per">
      <div class="phone">
        <p>3-6000-0000-6000-000-0000</p>
      </div>
      <div class="location">
        <p>67700 Dagenham St England,GB</p>
      </div>
    </div>
  </div>
</div>

